# ==============================
# OS / File Manager
# ==============================

.DS_Store
Thumbs.db
desktop.ini


# ==============================
# Editor / IDE
# ==============================

.vscode/
.idea/
*.swp
*.swo


# ==============================
# Temporary / Backup Files
# ==============================

*.tmp
*.temp
*.bak
*~


# ==============================
# Environment / Secrets
# ==============================

.env
.env.*
!.env.example
